/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar-left, .sidebar-right {
    width: 319px;
    background-image: url('margine.jpg'); 
    background-size: cover;
    background-position: center;
}

.content {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    background-color: #dbb2b298;
    padding: 30px;
    margin: 0;
}

.register-form {
    background-color: #DBB2B2;
    padding: 20px;
    text-align: center;
    margin: 20px 200px;
    border-radius: 10px;
}

.register-form label {
    display: block;
    margin: 10px 0 5px;
}

.register-form input {
    padding: 10px;
    width: calc(100% - 120px);
    margin-bottom: 20px;
    border-radius: 20px;
}

.register-form button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

