body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar-left,
.sidebar-right {
  width: 319px;
  background-image: url("assets/margine.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbb2b2;
  padding: 10px;
}

#search-bar {
  padding: 10px;
  width: 400px;
  margin-right: 10px;
  border-radius: 10px;
}

#search-button {
  padding: 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

h1 {
  background-color: #dbb2b298;
  padding: 30px;
  margin: 50px 200px;
  font-size: 45px;
}

.login-form {
  background-color: #dbb2b2;
  padding: 50px;
  text-align: center;
  margin: 20px auto; /* Automatsko poravnanje lijevo-desno */
  width: 300px; /* Postavi željenu širinu */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
}

.login-form input {
  padding: 10px;
  width: 100%; /* Puni širinu roditeljskog elementa */
  margin-bottom: 20px;
  box-sizing: border-box; /* Uključuje padding u izračun širine */
  border-radius: 20px;
}

.login-form button {
  padding: 10px; /* Smanjuje prostor oko gumba */
  width: 100%; /* Punjena širina */
  max-width: 100px; /* Ograničava maksimalnu širinu */
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-form p {
  margin-top: 20px;
}

.new-content {
  background-color: #dbb2b2;
  padding: 30px;
  text-align: center;
  margin: 20px auto; /* Automatsko poravnanje lijevo-desno */
  width: 300px; /* Postavi željenu širinu */
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.white-square {
  background-color: #fff;
  padding: 30px;
  height: 300px;
  border-radius: 10px;
}

.gray-square {
  background-color: #ccc;
  padding: 20px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center; /* Centriraj horizontalno */
  align-items: center; /* Centriraj vertikalno */
}

.gray-square p {
  margin: 0;
  font-size: 20px;
}

#book-details {
  display: flex;
  margin: 20px;
}

.book-image img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.book-info {
  width: 100%;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}

.book-info h2 {
  margin-top: 0;
}

.reviews-section {
  background-color: #dbb2b2;
  padding: 20px;
}

.review {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.review h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
}

.comment {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#add-review form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#add-review textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-review button {
  padding: 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
